/*font links:*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*css boilerplate code : */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--ligth-text);
}
:root {
  --dark-bg: #222831;
  --medium-bg: #31363f;
  --accent: #76abae;
  --light-text: #eeeeee;
  --gray-text: #5b6474;
}
html,
body {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.7) 100%,
    rgba(43, 43, 43, 0.5) 100%
  ); */
  /* background-color: #898989;
   */
  /* line-height: 1.9; */
  background-color: var(--dark-bg);
}

/*styling header and navigation bar*/
.header {
  width: 100%;

  background-color: var(--medium-bg);

  /* opacity: 0.9; */
  position: fixed;
  top: 0;
  left: 0;
  /* height: 60px; */
  min-height: 50px;
  z-index: 100;
}
.nav-bar {
  height: inherit;
  z-index: 100;
  max-width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo a {
  text-decoration: none;
  color: var(--light-text);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-bottom: 3px solid transparent;
  transition: all ease 0.2s;
}

.nav-list li a {
  text-decoration: none;
  color: var(--light-text);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all ease 0.2s;
  border-bottom: 3px solid transparent;
}

.nav-logo a:hover {
  border-bottom: 3px solid var(--accent);
}
.nav-list li a:hover {
  transform: translateY(-3px);
  /* color: orange; */
  border-bottom: 3px solid var(--accent);
}
.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.nav-list li {
  padding: 1rem;
}
.menu-icon {
  color: var(--light-text);
  cursor: pointer;
  display: none;
}

/*styling hero section*/
.hero {
  margin-top: 60px;
  /* align-items: center; */
  align-content: center;
  /* margin-top: 60px; */
  min-height: calc(100vh - 60px); /* Adjusting for header height */
}
.hero-container {
  /* width: 100%; */
  min-height: calc(100vh - 60px); /* Adjusting for header height */
  /* height: auto; */
}
.content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
}
.content h1 {
  font-size: 4rem;
  color: var(--light-text);
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-wrap: wrap;
  grid-column: 1 / 2; /* span all columns */
  grid-row: 1 / 2;
}
.content h1 span {
  color: var(--accent);
}
.content p {
  font-size: 1.5rem;
  color: var(--gray-text);
  margin-bottom: 1.5rem;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.btn-group {
  display: flex;
  gap: 1rem;
  grid-row: 3 /4;
  grid-column: 1 /2;
  /* background-color: rosybrown; */
}
.btn {
  display: inline-block;
  /* grid-column: 1 / 2;
  grid-row: 3 / 4; */
  padding: 0.5rem 1.5rem;
  /* background-color: rgb(255, 165, 0); */
  /* border-radius: calc(0.25rem + 0.5rem + 0.25rem); */
  border-radius: 999px;
}
.btn-1 {
  background-color: var(--accent);
  border: 2px solid transparent;
  transition: all ease 0.2s;
  color: black;
  font-weight: 500;
  text-decoration: none;
}
.btn-1:hover {
  background-color: transparent;
  color: var(--light-text);
  border: 2px solid var(--accent);
  transform: translate3d(0, -3px, 0);
}
.btn-2 {
  background-color: transparent;
  border: 2px solid var(--accent);
  transition: all ease 0.2s;
  color: var(--light-text);
  font-weight: 500;
  text-decoration: none;
}
.btn-2:hover {
  background-color: var(--accent);
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
  transform: translate3d(0, -3px, 0);
}

/*styling resume section*/
.resume {
  margin-bottom: 60px;
  /* width: 100%; */
  /* max-width: 1200px; */
  /* min-height: 100vh; */
  /* background-color: rgb(156, 156, 156); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.resume-content {
  width: 80%;
  max-width: 1200px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows:  auto repeat(2,1fr); */
  height: auto;
  gap: 20px;
  color: var(--light-text);
}
.resume-title {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}
.resume-title h1 {
  color: var(--light-text);
  font-size: 3rem;
  font-weight: 500;
}
.resume-content .card ul li {
  list-style: none;
}

.resume-content .card {
  background-color: var(--medium-bg);
  transition: all ease 0.2s;
  border-radius: 0.5rem;
  padding: 2em;
  height: 100%;
}
.resume-content .card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}
.resume-content .card h2 {
  color: var(--light-text);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.card h3 {
  font-size: 1rem;
  color: #76abae;
  font-weight: 700;
  border-bottom: 2px double var(--gray-text);
  margin-bottom: 0.5rem;

  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.card span {
  display: block;
  font-size: 1rem;
  color: rgb(150, 150, 150);
  margin-bottom: 0.5rem;
}
.uni-name,
.card p {
  color: var(--ligth-text) !important;
  font-size: 1rem;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills-list div {
  cursor: pointer;

  background-color: var(--accent);
  color:var(--dark-bg);
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 999px;
  transition: all ease 0.2s;
}
.skills-list div:hover {
  transform: translateX(-6px);
}

/*styling projects section*/
.projects .container {
  width: 80%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: auto;
  gap: 20px;
}
.projects-title,
.about-me-title,
.contact-title {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
}
.about-me-title {
  margin-top: 3rem;
}
.projects-title h1,
.about-me-title h1,
.contact-title h1 {
  color: white;
  font-size: 3rem;
  font-weight: 500;
}
.project-card {
  /* height: 100%; */
  background-color: var(--medium-bg);
  transition: all ease 0.2s;
  border-radius: 9px;
  color: var(--light-text);
}
.project-card .projects-img {
  height: 200px;
  width: 100%;
  background-color: var(--accent);
  border-radius: 9px 9px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* .projects-img svg path {
  fill: var(--medium-bg);
}
.projects-img svg {
  width: 25px;
  height: 25px;
} */
.projects-img img{
  width:100%;
  height: 100%;
  /* object-fit: cover; */
  object-position: top;
}
.projects-img {
  overflow: hidden;
}
.projects-content {
  padding: 1.5rem;
}
.projects-content h1 {
  font-size: 1.5rem;
  color: var(--accent);
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.projects-content p {
  font-size: 1rem;
  color: var(--light-text);
  margin-bottom: 1.5rem;
}
.projects-content .skill-set-used {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.skill-set-used .skill {
  background-color: var(--accent);
  padding: 8px;
  border-radius: 999px;
  /* opacity: 0.7; */
  
  color: var(--dark-bg);
  font-weight: 500;
}

.projects-content .cta a {
  background-color: var(--light-text);
  border: 3px solid transparent;
  display: inline-block;
  padding: 10px;
  border-radius: 999px;
  cursor: pointer;
  transition: all ease 0.3s;
  /* border: 3px solid; */
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 600;
}
.projects-content .cta a:hover {
  background-color: transparent;
  border: 3px solid var(--light-text);
  transform: translateY(-6px);
  color: #60b8bd;
}
.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 4px 12px rgba(49, 54, 63, 0.5);
}
.about-me .container,
.contact-container {
  width: 80%;
  max-width: 1200px;
  height: auto;
  margin: 0px auto;
}
.about-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  height: auto;
}
.about-container h2 {
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.about-container p {
  font-size: 1rem;
  color: var(--accent);
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.about-interest h3 {
  color: var(--light-text);
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.interest-list {
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.interest-list .interest {
  background-color: var(--accent);
  padding: 5px 6px;
  border-radius: 999px;
  font-weight: 500;
  color: #0f172a;
}

.about-img {
  flex: 1;
  min-width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #31363f;
  border-radius: 25px;
}
.about-img svg {
  width: 100%;
  height: 10%;
}
.about-img{
  overflow: hidden;
  max-width: 300px;
}
.about-img img{
  width: auto;
  height: auto;
  /* object-fit: cover; */
  object-position: top;
}
.about-content {
  flex: 1;
  min-width: 300px;
}
.contact-content {
  /* width: 100%;
  height: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  /* align-items: center; */
}
.contact-container {
  width: 80%;
  min-height: 100vh;
  margin: 0px auto;
}
.info-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 10px 10px;
}
.contact-info {
  /* background-color: rosybrown; */
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.info-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  padding: 10px;
  border-radius: 50%;
}
.info-item .details h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 2px;
}
section {
  padding: 60px 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
form {
  background-color: var(--medium-bg);
  box-shadow: 1px 1px 20px var(--accent);
  padding: 20px;
  border-radius: 9px;
}
.form-group label {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
}
.form-group input {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 9px;
  padding: 10px;
  transition: all ease 0.3s;
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 200;
  border-radius: 9px;
  transition: all ease 0.2s;
}

.form-group input:focus,
textarea:focus {
  background-color: var(--accent);
}
.form-group {
  margin-top: 2rem;
}
.button {
  margin-top: 2rem;
  display: inline-block;
  /* grid-column: 1 / 2;
  grid-row: 3 / 4; */
  padding: 0.5rem 2rem;
  /* background-color: rgb(255, 165, 0); */
  /* border-radius: calc(0.25rem + 0.5rem + 0.25rem); */
  border-radius: 999px;
  color: black;
  font-weight: 500;
  background-color: var(--accent);
  transition: all ease 0.2s;
  border: 2px solid transparent;
}
.button:hover {
  background-color: transparent;
  color: var(--light-text);
  border: 2px solid var(--light-text);
  transform: translateY(-6px);
}
footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem 0;
  display: grid;
  gap: 20px;
  background-color: var(--medium-bg);
  color: var(--light-text);
  clear: both; /* Ensures footer stays below floated or positioned elements */
  position: relative; /* Optional: ensures footer respects document flow */
}
.logos {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
  background-color: #0a0f1b;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all ease 0.2s;
}
.logo:hover {
  background-color: transparent;
  border: 2px solid white;
  transform: translateY(-6px);
}
.logo svg {
  height: 30px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/*Responsive Designing*/
@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
  .menu-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .content h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .hero-container {
    text-align: center;
  }
  .btn-group {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .resume-title h1 {
    text-align: center;
  }
  .resume-title {
    position: relative;
    margin-bottom: 60px;
    text-align: center;
  }
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .about-container,
  .contact-container {
    height: auto; /* Allow height to adjust based on content */
    min-height: auto; /* Remove fixed viewport height */
    padding: 40px 20px; /* Reduce padding for smaller screens */
  }

  .resume-content,
  .projects .container {
    height: auto; /* Ensure other sections adapt */
    min-height: auto;
  }

  section {
    padding: 0px 20px; /* Adjust padding for smaller screens */
    margin-bottom: 20px; /* Reduce margin for better spacing */
  }
  .hero {
    margin-top: 20px;
  }
}




